@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 15px;
  color: #333;
}

input {
  outline: none;
}

.form-control {
  @apply block w-full rounded-md border-0 outline-none py-2 px-4 text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-primary sm:leading-6;
}
.form-control:not(textarea) {
  @apply h-11;
}
.label-control {
  @apply block text-sm font-medium leading-6 text-gray-700;
}
.btn-primary {
  @apply block w-full bg-primary rounded-md border-0 outline-none  h-11 px-4 shadow-sm text-white font-bold text-[15px];
}

.hover-overlay {
  @apply relative transition after:sm:rounded-s-xl after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:z-20 after:bg-opacity-0 hover:after:bg-opacity-10;
}
